.section {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
}

.form-success {
  background-color: rgba(0, 0, 0, 0);
  padding-top: 16px;
  padding-bottom: 16px;
}

.form-error {
  color: #fc3762;
  text-align: center;
  background-color: rgba(0, 0, 0, 0);
  padding: 8px 12px;
  font-size: 12px;
  line-height: 16px;
}

.input-wrapper {
  width: 49%;
  align-items: center;
  margin-bottom: 0;
  display: flex;
  overflow: hidden;
}

.subscribe-card-from {
  width: 100%;
  text-align: left;
  flex-direction: column;
  margin-bottom: 15px;
  padding-top: 8px;
  display: flex;
}

.full-width {
  width: 100%;
  margin-bottom: 45px;
}

.input {
  height: 48px;
  min-width: 228px;
  background-color: #f5f6f8;
  border: 1px solid #d3d8e1;
  border-radius: 5px;
  margin-bottom: 24px;
  padding: 7px 24px 8px;
  transition: border-color .2s;
}

.input:focus {
  border-color: #a9b0be;
}

.input::-ms-input-placeholder {
  color: #a9b0be;
}

.input::placeholder {
  color: #a9b0be;
}

.input.icon-input {
  z-index: 1;
  height: 52px;
  min-width: 0;
  color: #b700e0;
  text-align: left;
  background-color: #fff;
  border: 1px solid rgba(255, 255, 255, .25);
  border-radius: 0;
  flex: 1;
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 25px;
  font-family: Ubuntu, Helvetica, sans-serif;
  font-size: 15px;
  position: relative;
}

.input.icon-input::-ms-input-placeholder {
  color: #b700e0;
  letter-spacing: .5px;
  font-family: Ubuntu, Helvetica, sans-serif;
  font-size: 15px;
}

.input.icon-input::placeholder {
  color: #b700e0;
  letter-spacing: .5px;
  font-family: Ubuntu, Helvetica, sans-serif;
  font-size: 15px;
}

.div-block {
  width: 1100px;
  border: 1px #000;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.div-block-3 {
  width: 40%;
  height: 500px;
}

.text-block {
  color: #fff;
  text-align: center;
  letter-spacing: 1px;
  margin-bottom: 20px;
  padding-right: 0;
  font-family: Ubuntu, Helvetica, sans-serif;
  font-size: 50px;
  font-weight: 700;
  line-height: 56px;
}

.div-block-4 {
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
  display: flex;
}

.div-block-5 {
  width: 30px;
  height: 30px;
  opacity: 1;
  background-image: url('../images/check-Pink.png');
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 14px;
}

.section-5 {
  width: 100%;
  height: auto;
  margin-bottom: 33px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 75px;
}

.div-block-946 {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.text-block-291 {
  width: 900px;
  color: rgba(255, 255, 255, .35);
  text-align: center;
  letter-spacing: .5px;
  margin: 0 auto 40px;
  padding-bottom: 0;
  font-family: Open Sans, sans-serif;
  font-size: 12px;
  line-height: 21px;
}

.div-block-986 {
  width: 1000px;
  border-top: 1px solid rgba(183, 0, 224, .45);
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 12px;
  display: flex;
}

.bottom-footer-paragraph {
  float: left;
  color: #959595;
  margin-bottom: 0;
  font-family: Open Sans, sans-serif;
  font-size: 12px;
}

.bottom-footer-paragraph.right {
  float: right;
}

.bottom-footer-link {
  color: #91959c;
  letter-spacing: .5px;
  text-decoration: none;
}

.bottom-footer-link:hover {
  color: rgba(255, 255, 255, .7);
}

.button-2 {
  height: auto;
  box-shadow: none;
  color: #fff;
  text-align: center;
  letter-spacing: 1px;
  background-color: #1f6fff;
  background-image: linear-gradient(#1f6fff, #1a358c 50%, #1f6fff);
  border: 2px solid #1f6fff;
  border-radius: 0;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 0;
  padding: 30px 24px;
  font-family: Ubuntu, Helvetica, sans-serif;
  font-size: 37px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-decoration: none;
  transition: box-shadow .2s;
  display: flex;
}

.button-2:hover {
  box-shadow: none;
  background-color: #b700e0;
  background-image: linear-gradient(#b700e0, #510e6b 50%, #b700e0);
  border-color: #b700e0;
}

.div-block-987 {
  width: 60%;
}

.text-block-292 {
  color: #cdcfce;
  text-align: center;
  letter-spacing: 1px;
  border-top: 1px solid rgba(183, 0, 224, .4);
  margin-bottom: 25px;
  padding-top: 10px;
  font-family: Ubuntu, Helvetica, sans-serif;
  font-size: 21px;
  font-weight: 300;
  line-height: 32px;
}

.text-block-293 {
  color: #f1f5fe;
  letter-spacing: 1.5px;
  font-family: Ubuntu, Helvetica, sans-serif;
  font-size: 22px;
  font-weight: 300;
}

.text-block-293.top {
  letter-spacing: 1.2px;
}

.div-block-988 {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.body {
  background-color: #010003;
  background-image: linear-gradient(to right, #010205, rgba(0, 0, 0, 0) 75%), url('../images/Owl-Money3.jpg');
  background-position: 0 0, 100% 0;
  background-repeat: repeat, no-repeat;
  background-size: auto, auto;
}

.text-block-294 {
  color: #b700e0;
  letter-spacing: .5px;
  margin-left: 0;
  font-family: Ubuntu, Helvetica, sans-serif;
  font-size: 20px;
}

.div-block-989 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 35px;
  display: none;
}

.text-span-7 {
  color: #b700e0;
  letter-spacing: .3px;
  font-family: Ubuntu, Helvetica, sans-serif;
  font-weight: 800;
}

.div-block-990 {
  height: 175px;
  background-image: url('../images/Hoot-Logo.png');
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: contain;
  margin-bottom: 40px;
}

.heading {
  color: #b700e0;
  text-align: center;
  letter-spacing: 1px;
  margin-bottom: 12px;
  font-family: Ubuntu, Helvetica, sans-serif;
  font-size: 45px;
  font-weight: 500;
}

@media screen and (max-width: 991px) {
  .section {
    padding-top: 40px;
  }

  .input {
    box-shadow: inset 0 0 rgba(0, 0, 0, 0);
  }

  .div-block {
    width: 100%;
    display: block;
  }

  .div-block-3 {
    width: 100%;
    height: 500px;
    background-image: url('../images/Owl-Money-Popup.jpg');
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -30px;
    margin-left: 0;
    display: block;
  }

  .div-block-4.last {
    margin-bottom: 0;
  }

  .div-block-5 {
    width: 33px;
    height: 33px;
  }

  .section-5 {
    margin-top: -90px;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 50px;
  }

  .div-block-946 {
    width: 75%;
    margin-bottom: 15px;
  }

  .text-block-291 {
    width: 100%;
    letter-spacing: .5px;
    margin-bottom: 0;
    font-size: 12px;
    line-height: 21px;
  }

  .div-block-986 {
    width: 75%;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
  }

  .bottom-footer-paragraph {
    color: #959595;
  }

  .button-2 {
    margin-top: 8px;
  }

  .div-block-987 {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
  }

  .text-block-293 {
    font-size: 23px;
  }

  .body {
    background-image: linear-gradient(rgba(1, 2, 5, .5), rgba(1, 2, 5, .5));
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto;
  }

  .div-block-990 {
    height: 120px;
    margin-bottom: 35px;
  }

  .heading {
    margin-bottom: 10px;
    font-size: 42px;
  }
}

@media screen and (max-width: 767px) {
  .section {
    padding-top: 30px;
  }

  .div-block {
    display: block;
  }

  .div-block-3 {
    width: 100%;
    background-position: 100% 0;
    margin-top: -12px;
    margin-left: 0;
  }

  .text-block {
    margin-bottom: 22px;
    font-size: 40px;
    line-height: 48px;
  }

  .div-block-5 {
    width: 30px;
    height: 30px;
  }

  .section-5 {
    padding-top: 80px;
  }

  .div-block-946 {
    width: 85%;
  }

  .text-block-291 {
    letter-spacing: .25px;
    font-size: 12px;
    line-height: 21px;
  }

  .div-block-986 {
    align-items: center;
    display: block;
  }

  .bottom-footer-paragraph {
    float: none;
    text-align: center;
    margin-bottom: 0;
    font-size: 11px;
    line-height: 22px;
  }

  .bottom-footer-paragraph.right {
    float: none;
  }

  .div-block-987 {
    width: 85%;
  }

  .text-block-292 {
    letter-spacing: .5px;
    font-size: 20px;
    line-height: 30px;
  }

  .text-block-293, .text-block-293.top {
    font-size: 20px;
  }

  .body {
    background-image: none;
    background-position: 0 0;
  }

  .div-block-990 {
    height: 100px;
    margin-bottom: 30px;
  }

  .heading {
    margin-bottom: 8px;
    font-size: 37px;
  }
}

@media screen and (max-width: 479px) {
  .section {
    padding-top: 30px;
  }

  .input-wrapper {
    width: 100%;
    margin-bottom: 4px;
  }

  .full-width {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .input {
    min-width: 0;
  }

  .input.icon-input {
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
  }

  .div-block-3 {
    height: 450px;
    margin-top: -22px;
  }

  .text-block {
    letter-spacing: 0;
    margin-bottom: 20px;
    font-size: 40px;
    line-height: 50px;
  }

  .div-block-4 {
    border-bottom: 1px solid rgba(183, 0, 224, .5);
    margin-bottom: 12px;
    padding-bottom: 12px;
    display: block;
  }

  .div-block-5 {
    width: 35px;
    height: 35px;
    margin-bottom: 8px;
    margin-left: auto;
    margin-right: auto;
    display: none;
  }

  .div-block-5.topcheck {
    width: 45px;
    height: 45px;
    margin-bottom: 15px;
    display: block;
  }

  .div-block-946 {
    width: 85%;
  }

  .text-block-291 {
    font-size: 12px;
    line-height: 20px;
  }

  .bottom-footer-paragraph {
    margin-bottom: 1px;
    font-size: 11px;
  }

  .bottom-footer-paragraph.right {
    font-size: 10px;
  }

  .button-2 {
    margin-top: 5px;
    padding-top: 24px;
    padding-bottom: 24px;
    font-size: 26px;
  }

  .text-block-292 {
    color: #cdcfce;
    letter-spacing: 1px;
    margin-bottom: 15px;
    padding-top: 12px;
    padding-left: 3px;
    padding-right: 3px;
    font-size: 18px;
    line-height: 27px;
  }

  .text-block-293 {
    color: #f1f5fe;
    font-size: 17px;
    line-height: 27px;
  }

  .text-block-293.top {
    color: #f1f5fe;
    font-size: 17px;
  }

  .div-block-988 {
    display: block;
  }

  .div-block-990 {
    height: 80px;
    margin-bottom: 25px;
  }

  .heading {
    letter-spacing: 1px;
    margin-bottom: 2px;
    font-size: 28px;
    font-weight: 400;
  }
}


